{% extends 'base.html' %}
{% block content %}
    {% if stuffs %}
<div class="card">
  <div class="card-header">
    CART
  </div>
  <div class="card-body">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Goods</th>
            <th scope="col">Price</th>
            <th scope="col">Count</th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
            {% for stuff in stuffs %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ stuff.stuffs.name }}</td>
            <td>{{stuff.stuffs.price}}</td>
            <td>{{ stuff.quantity}}</td>
            <td><form method="post" action="{% url 'mall:subCart' stuff.stuffs.id %}" >
                {% csrf_token %}
                <button class="card-link badge bg-secondary"> X </button>
            </form></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
        {% else %}
        <div class="card">
  <div class="card-header">
    CART
  </div>
  <div class="card-body">

  </div>
</div>
    {% endif %}
{% endblock %}

