{% extends 'base.html' %}
{% load static %}
{% block link%}
<link rel="stylesheet" type="text/css" href="{% static 'cart/cartStyle.css' %}">
{% endblock %}
{% block content %}
<script>
    function getCheckboxValue()  {
        // 선택된 목록 가져오기
        const list_=document.getElementsByClassName('form-check-input');
        document.getElementById('sum').innerText
          = list_;  
        const buyStuff=document.getElementById('buyStuff');
        // 선택된 목록에서 value 찾기
        let result = parseInt(0);
        let len = list_.length;
        let check=false;
        buyStuff.innerHTML='';
        for (let i=0;i<len;i++){
            element=list_.item(i)
            if (element.checked)
            {
            let hidden_val=document.createElement('input');
            hidden_val.setAttribute("type", "hidden");
            hidden_val.value=element.name;
            hidden_val.name=element.name;
            hidden_val.checked=true;
            buyStuff.appendChild(hidden_val);
            result+=parseInt(element.value)
            check=true
            }
            }
        
        // 출력
        document.getElementById('sum').innerText
          = result;
      }
      window.onload=function(){
        getCheckboxValue()
      }
    </script>
    {% if stuffs %}
<div class="card">
  <div class="card-header">
    CART
  </div>
  <div class="card-body">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Goods</th>
            <th scope="col">Price</th>
            <th scope="col">Count</th>
            <th scope="col"> </th>
            <th scope="col">PriceSum</th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
            {% for stuff in stuffs %}
          <tr>
            {% if stuff.checked %}
            <th scope="row"><div class="form-check">
                    <input class="form-check-input" type="checkbox" name="{{stuff.stuffs.name}}" value="{% widthratio stuff.stuffs.price 1 stuff.quantity %}" id="flexCheckDefault" onclick=getCheckboxValue() checked>
                </div></th>
            {%else%}
            <div class="form-check">
                <input class="form-check-input " type="checkbox" name="{{stuff.stuffs.name}}" value="{% widthratio stuff.stuffs.price 1 stuff.quantity %}" id="flexCheckDefault" onclick=getCheckboxValue()>
              </div></th>
            {% endif %}
            <th>{{forloop.counter}}</th>
            <td >{{ stuff.stuffs.name }}</td>
            <td>{{stuff.stuffs.price}}$</td>
            <td>{{ stuff.quantity}} </td>
        <td><form method="post" action="{% url 'mall:plusStuff' stuff.stuffs.id %}">
            {% csrf_token %}
            <button  class="btn btn-outline-primary"
        style="--bs-btn-font-size: .1rem; border: none;" >
        ➕
</button>
        </form>
        <form method="post" action="{% url 'mall:minusStuff' stuff.stuffs.id %}" >
            {% csrf_token %}
            <button  class="btn btn-outline-primary"
        style=" --bs-btn-font-size: .1rem; border: none;">
        ➖
</button>
        </form></td>
            <td>{% widthratio stuff.stuffs.price 1 stuff.quantity %}$</td>
            <td><form method="post" action="{% url 'mall:subCart' stuff.stuffs.id %}" >
                {% csrf_token %}
                <button class="card-link badge bg-secondary"> X </button>
            </form></td>
          </tr>
          {% endfor %}
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><span id="sum"></span>$</td>
          <td>                  
            <form method="post" action="{% url 'mall:buy' %}">
            {% csrf_token %}
            <div id="buyStuff">

            </div>
              <button class="btn btn-primary">BUY</button>
          </form></td>
          
        </tbody>
      </table>
  </div>
</div>
        {% else %}
        <div class="card">
  <div class="card-header">
    CART
  </div>
  <div class="card-body">

  </div>
</div>

    {% endif %}
{% endblock %}
