{% extends 'base.html' %}
{% load static %}
{% block link%}
<link rel="stylesheet" type="text/css" href="{% static 'cart/cartStyle.css' %}">
{% endblock %}
{% block content %}
<script>
    function getCheckboxValue()  {
        // 선택된 목록 가져오기
        const list_=document.getElementsByClassName('form-check-input');
        document.getElementById('sum').innerText
          = list_;  
          
        // 선택된 목록에서 value 찾기
        let result = parseInt(0);
        let len = list_.length;
        for (let i=0;i<len;i++){
            element=list_.item(i)
            if (element.checked)
            result+=parseInt(document.getElementById('stuff_quantity').innerText)*parseInt(document.getElementById('stuff_price').innerText)
            }
        
        // 출력
        document.getElementById('sum').innerText
          = result;
      }
      function plusStuff(){
        quantity=parseInt(document.getElementById('stuff_quantity').innerText);
          quantity+=1;
          document.getElementById('stuff_quantity').innerText=quantity;
          getCheckboxValue();
      }
      function minusStuff(){
        quantity=parseInt(document.getElementById('stuff_quantity').innerText);
          quantity-=1;
          document.getElementById('stuff_quantity').innerText=quantity;
          getCheckboxValue();
      }
      window.onload=function(){
        getCheckboxValue()
      }
    </script>
    {% if stuffs %}
<div class="card">
  <div class="card-header">
    CART
  </div>
  <div class="card-body">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Goods</th>
            <th scope="col">Price</th>
            <th scope="col">Count</th>
            <th scope="col"> </th>
            <th scope="col">PriceSum</th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
            {% for stuff in stuffs %}
          <tr>
            {% if stuff.checked %}
            <th scope="row"><div class="form-check">
                <input class="form-check-input" type="checkbox" value="{% widthratio stuff.stuffs.price 1 stuff.quantity %}" id="flexCheckDefault" onclick=getCheckboxValue() checked>
              </div></th>
            {%else%}
            <th scope="row"><div class="form-check">
                <input class="form-check-input " type="checkbox" value="{% widthratio stuff.stuffs.price 1 stuff.quantity %}" id="flexCheckDefault" onclick=getCheckboxValue()>
              </div></th>
            {% endif %}
            <th>{{forloop.counter}}</th>
            <td id="stuff_name">{{ stuff.stuffs.name }}</td>
            <td id="stuff_price">{{stuff.stuffs.price}}</td>
            <td id="stuff_quantity">{{ stuff.quantity}} </td>
        <td>
            <button  class="btn btn-outline-primary"
        style="--bs-btn-font-size: .1rem; border: none;" onclick=plusStuff(this)>
        ➕
</button>
            <button  class="btn btn-outline-primary"
        style=" --bs-btn-font-size: .1rem; border: none;" onclick=minusStuff(this)>
        ➖
</button></td>
            <td>{% widthratio stuff.stuffs.price 1 stuff.quantity %}</td>
            <td><form method="post" action="{% url 'mall:subCart' stuff.stuffs.id %}" >
                {% csrf_token %}
                <button class="card-link badge bg-secondary"> X </button>
            </form></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      ALL:<span id="sum"></span>$
  </div>
</div>
        {% else %}
        <div class="card">
  <div class="card-header">
    CART
  </div>
  <div class="card-body">

  </div>
</div>

    {% endif %}
{% endblock %}
