{% extends 'base.html' %}
{% block content %}
    {% if stuffs %}
<div class="card">
  <div class="card-header">
    CART
  </div>
  <div class="card-body">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Goods</th>
            <th scope="col">Price</th>
            <th scope="col">Count</th>
          </tr>
        </thead>
        <tbody>
            {% for stuff in stuffs %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ stuff.name }}</td>
            <td>{{stuff.price}}</td>
            <td>{{ stuff.quantity}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- {% for stuff in stuffs %}
      <div>
    <h5 class="card-title">Goods: {{ stuff.name }}</h5>
      <h5 class="card-title">Price: {{stuff.price}}$</h5>
          <h5 class="card-title">Count: {{ stuff.quantity}}</h5>
          <p></p>
      <h4 class="fixed-bottom" style="margin-bottom: 30px; margin-left: 10px;">총액: 0$</h4> -->
      <!-- <-- {% endfor %} -->
  </div>
</div>
        {% else %}
        <div class="card">
  <div class="card-header">
    CART
  </div>
  <div class="card-body">

  </div>
</div>
    {% endif %}
{% endblock %}
